@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: wrap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: wrap;
}

body {
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height: 21px;
background-color: #ffffff;
color: #000000;
}

/* visually-hiden я скопировал с ретроспективы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {
background-image: url(../images/mauntain-background.jpg);
background-size: 100% auto;
background-color:#ffffff;
background-repeat: no-repeat;

}

.navigation-link{
font-family: "PT Sans", sans-serif;
font-size: 20px;
font-weight: 700;
line-height: inherit;
color:inherit;
background-color: inherit;
text-decoration: none;

}
.navigation-list{
  list-style-type: none;
}

.description-title{
font-family:"PT Sans", sans-serif;
font-size: 30px;
font-weight: 700px;
line-height: 36px;
background-color: #ffffff;
color: #000000;
text-align: center;
text-transform: uppercase;
}

.description-text{
  font-family:"PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
.advantages-list{
  text-align: center;
  list-style-type: none
}

.advantages-title{
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}
.advantages-description{
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.recommend-list{
  text-align: center;
  list-style-type: none
}
.recommend-title{
  font-family:"PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.recommend-text{
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.link-search-hotel{
  font-family: "PT sans", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
}
.subscription{
  background-image: url("../images/background-filter-catalog.jpg");
  background-size: 100% auto;
background: color #000;;
background-repeat: no-repeat;
color:#ffffff;
text-align: center;
}
.button-subscribe{
  font-family: "PT sans", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.footer-social-list{
  text-decoration: none;
}

/* Раздел каталог */

.inner-header,.filter{
  background-image: url(../images/background-filter-catalog.jpg);
  background-size: 100% auto;
background-color:#ffffff;
background-repeat: no-repeat;
color:#ffffff;
}
.inner-header-title{
  font-family:"PT Sans", sans-serif;
  font-size: 60px;
  font-weight: 700px;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
}
.breadcrumbs-link{
  font-family: "PT sans", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}
.breadcrumbs-item{
  list-style-type:none;
}

.control{
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.filter-catalog-title{
  font-family:"PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}
fieldset{
  border: 0 none;
}
.button-submit{
  font-family:"PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-reset{
  font-family:"PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.results{
  font-family:"PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700px;
  line-height: 36px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}
.select-control{
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}
.hotel-card{
  list-style-type: none;
}

.hotel-card-link{
  font-family:"PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700px;
  line-height: 28px;
  color: #000000;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}
.hotel-card-type{
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  vertical-align: top;
}

.hotel-card-price{
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  vertical-align: top;
}
.button-details{
  font-family:"PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  background-color:#756157;
  text-decoration: none;
}
.button-favorites{
  font-family:"PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  background-color:#82B3D3;
}
.result-hotel-rate{
  font-family:"PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: top;
  background-color:#F2F2F2;
}
